.THIS .editField {
    display:none;
}

.THIS #outputField:hover .editField{
    display:block;
}

.THIS #sObjectRecords {
    height: 100px;
    overflow-y: scroll;
}

.THIS #sObjectRecords:hover li {
    cursor: pointer;
}